@font-face {
    font-family: 'pacificoregular';
    src: url('/assets/fonts/pacifico-webfont.eot');
    src: url('/assets/fonts/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/pacifico-webfont.woff2') format('woff2'),
         url('/assets/fonts/pacifico-webfont.woff') format('woff'),
         url('/assets/fonts/pacifico-webfont.ttf') format('truetype'),
         url('/assets/fonts/pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}